.text-container-highlight {
  background-color: #ff5d01;
  margin: auto;
  height: 100px;
  width: 70%;
  padding: 15px;
  top: 50%;
  align-items: center;
  border-radius: 8px;
}

.text-container-highlight h5 {
  color: white !important;
  text-align: center;
}
